{{#if video.Thumbnail}}
  <a class='pull-left' href="{{video.MessageContent}}" {{action 'play'}}>
    <img src="https://cdn.voat.co/thumbs/{{video.Thumbnail}}" class='thumb media-object'/>
  </a>
{{/if}}

<div class='media-body'>
  <h4 class='media-heading'>
    <a href="{{video.MessageContent}}" {{action 'play'}}>{{video.Title}}</a>
  </h4>
  <p>
    (<span class='likes'>+{{video.Likes}}</span>
    <span class='dislikes'>-{{video.Dislikes}}</span>)
    <a href="https://voat.co/v/{{video.Subverse}}/comments/{{video.Id}}" target='_new'>{{video.CommentCount}} comments</a>
  </p>
</div>

<div class='clearfix'></div>
