<h4><a href="{{video.MessageContent}}" {{action 'play'}}>{{video.Linkdescription}}</a></h4>
<div class='meta'>
  (<span class='likes'>+{{video.Likes}}</span>
  <span class='dislikes'>-{{video.Dislikes}}</span>)

  posted by {{video.Name}} with
  <a href="https://voat.co/v/{{video.Subverse}}/comments/{{video.Id}}">{{video.CommentCount}} comments</a>
</div>
